{% extends "base.html" %}
{% load static %}
{% block 'title' %}Allright Consultoria - Cases{% endblock 'title' %}
{% block 'content' %}
<div class="banner-cases">
    <div class="cases-banner-img" style="background-image: url({% static 'cases-banner.jpg' %});">
        <div class="texto-banner-cases" >
            <div class="texto-apresentacao-cases">
                <h1>Cases</h1>
                <hr>
                <h3>Cases de Consultoria e Relatos dos Clientes</h3>
            </div>
        </div>
    </div>
</div>
<div class="cases" style="background-image: url({% static 'background-servicos-cases.png' %});">
    {% for case in object_list %}
    <div class="container-case">
        <div class="headline-case">
            <img src="/media/{{ case.imagem }}" alt="">
            <h3 class="titulo-case">{{ case.titulo }}</h3>
        </div>
        <div class="descricao">
            <h4>Briefing</h4>
            <p>
                {{ case.introducao }}
            </p>
        </div>
        <div class="trabalhos-executados">
            <h4>Trabalhos Executados</h4>
            <p>
                {{ case.trabalho_executado }}
            </p>
        </div>
        <div class="depoimentos">
            <h4>Depoimentos</h4>
            <div class="depoimentos-wrapper">
                {% for depoimento in depoimentos %}
                {% if depoimento.case.titulo == case.titulo %}
                    <div class="depoimento">
                        <span>{{ depoimento.autor }}</span>
                        <p>{{ depoimento.conteudo }}</p>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
            <hr>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock 'content' %}