{% extends "base.html" %}
{% load static %}
{% block 'title' %}Allright Consultoria{% endblock 'title' %}
{% block 'content' %}
<div class="main-page">
    <div class="apresentacao-geral" style="background-image: url({% static 'main-banner.jpg' %});">
        <div class="apresentacao" >
            <div class="texto-apresentacao">
                <h1>Consultoria Empresarial com Ética e Resultado</h1>
                <hr>
                <h3>
                    <span>
                        "A fórmula do sucesso empresarial é 
                        uma equação aberta 
                    </span>
                    <span>onde as variáveis 
                        estão em mutação constante, 
                        exigindo adaptação, agilidade e inovação. 
                    </span>
                    <br>
                    <span>
                        <b>A mudança é a única constante!</b>
                        "
                    </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="servicos" id="servicos" style="background-image: url({% static 'cases-background.jpg' %});">
        <h1>Serviços Prestados</h1>
        <div class="container-card-servicos">
            <div class="card-servico">
                <img src="{% static 'diagnostico-empresarial.jpg' %}" alt="" class="card-img">
                <div class="card-servico-content">
                    <ul>
                        <h3>Diagnóstico Empresarial</h3>
                        <li><p>Análise de toda estrutura empresarial, destacando os pontos fortes e evidenciando riscos e deficiências encontradas, apontando os melhores caminhos para potencializar o sucesso do negócio</p></li>
                        <li><p>As análises compreenderão as pessoas estratégicas, processos em geral e tecnologia administrativa</p></li>
                        <li><p>Ao final dos trabalhos, será apresentado um relatório detalhado com as prioridades para alavancar o negócio</p></li>
                    </ul>
                </div>
            </div>
            <div class="card-servico">
                <img src="{% static 'estruturacao-sistemica.jpg' %}" alt="" class="card-img">
                <div class="card-servico-content">
                    <ul>
                        <h3>Estuturação Sistêmica - Voltada ao Futuro</h3>
                        <li><p>Baseado no Diagnóstico apresentado, coordenamos todo o processo de (Re) Estruturação</p></li>
                        <li><p>Nossos trabalhos compreendem a montagem de equipe qualificada, implantação de sistemas e processos integrados</p></li>
                        <li><p>Áreas administrativa, comercial e industrial</p></li>
                        <li><p>Ao final dos trabalhos, a empresa estará operando independente da consultoria</p></li>
                    </ul>
                </div>
            </div>
            <div class="card-servico">
                <img src="{% static 'planejamento-estrategico.jpg' %}" alt="" class="card-img">
                <div class="card-servico-content">
                    <ul>
                        <h3>Planejamento Estratégico</h3>
                        <li><p>Posicionamento do negócio</p></li>
                        <li><p>Matriz SWOT</p></li>
                        <li><p>Missão, Visão, Valores</p></li>
                        <li><p>Plano de Ação</p></li>
                        <li><p>Maior dinâmica e objetividade ao processo</p></li>
                    </ul>
                </div>
            </div>
            <div class="card-servico">
                    <img src="{% static 'orcamento-empresarial.jpg' %}" alt="" class="card-img">
                <div class="card-servico-content">
                    <ul>
                        <h3>Orçamento Empresarial, Cenários e Projetos</h3>
                        <li><p>Premissas Macroeconômicas</p></li>
                        <li><p>Vendas, Impostos e despesas variáveis</p></li>
                        <li><p>Gastos: Investimentos, Custos e Despesas</p></li>
                        <li><p>Simulações e Cenários</p></li>
                        <li><p>Maior flexibilidade e dinâmica ao processo</p></li>
                        <li><p>Ajustado à complexidade da empresa</p></li>
                    </ul>
                </div>
            </div>
            <div class="card-servico">
                        <img src="{% static 'gestao-pessoal.jpg' %}" alt="" class="card-img">
                <div class="card-servico-content">
                    <ul>
                        <h3>Sistema de Gestão de Pessoal</h3>
                        <li><p>Método de Gestão Humana, Objetiva e Transparente
                        </p></li>
                        <li><p>
                            Satisfação interna
                        </p></li>
                        <li><p>Cargos & Salários</p></li>
                        <li><p>Plano de Desenvolvimento Individual</p></li>
                        <li><p>Identificação de Necessidades de Treinamentos</p></li>
                        <li><p>Relatórios e Estatísticas de Desempenho</p></li>
                        <li><p>Engajamento e Clima Organizacional</p></li>
                        <li><p>Dimensionado conforme a estrutura da empresa</p></li>
                    </ul>
                </div>
            </div>
            <div class="card-servico">
                <img src="{% static 'conselho-administracao.jpg' %}" alt="" class="card-img">
                <div class="card-servico-content">
                    <ul>
                        <h3>Assessoria e Conselho de Administração</h3>
                        <li><p>Participação ativa e aconselhamento nas principais decisões estratégicas e operacionais
                        </p></li>
                        <li><p>Disponibilidade ajustada às necessidades
                        </p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="sobre-nos" id="sobre-nos">
        <div class="container-sobre-nos">
            <img src="{% static 'profissional_responsavel.jpg' %}" alt="" class="sobre-nos-img">
            <div class="texto-sobre-nos">
                <h1>Profissional Responsável</h1>
                <hr>
                <p>
                MBA em Gestão Empresarial pela FGV, formação em administração e contabilidade
                <br>
                Profissional com ampla vivência em gestão financeira e empresarial. Habituado em processos de reestruturação, automatização de tarefas e controladoria para geração de valor
                <br>
                Foco em melhoria contínua com uso de indicadores de desempenho
                <br>
                Forte liderança e desenvolvimento de equipes 
                <br>
                Posicionamento e estratégia de mercado
                <br>
                Palestrante
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock 'content' %}