{% extends "base.html" %}
{% load static %}

{% block 'content' %}
<div class="main-page">
    <div class="apresentacao-geral" style="background-image: url({% static 'main-banner.jpg' %});">
        <div class="apresentacao" >
            <div class="texto-apresentacao">
                <h3>"O diferencial efetivo do sucesso nos negócios"</h3>
                <hr>
                <h1>Consultoria em Gestão e Controladoria</h1>
            </div>
        </div>
    </div>
    <div class="servicos">

    </div>
</div>
{% endblock 'content' %}