@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root {
    --dark-blue: hsla(225, 70%, 24%, 1);
    --light-green: #2f94a8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 1.2em;
    color: white;
    font-family: 'Outfit', sans-serif;
}

.main-page {
    text-align: center;
}

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7svh;
    padding: 0 15vw;
}

ul {
    list-style-type: none;
}

a {
    color: var(--dark-blue);
    font-family: Roboto, serif;
    font-weight: bold;
    text-decoration: none;

}

p,
li {
    color: black;
}

textarea,
input {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

/* H E A D E R */
.header-links ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}

.header-links a:hover {
    position: relative;
    top: -3px;
    transition: 0.5s;
}

.button-link-header,
.button-link,
.input-submit-contato {
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #2f94a8;
    margin: 30px auto;
    display: block;
    max-width: fit-content;
    border: none;
}

.header-links .button-link-header:hover {
    background-color: #122766;
    text-decoration: none;
    top: 0;
    transition: 0.5s;
}

.button-link:hover,
.input-submit-contato:hover {
    background-color: #122766;
    text-decoration: none;
    top: 0;
    transition: 0.5s;
    cursor: pointer;
}

.input-submit-contato {
    font-size: 18px;
    font-family: Outfit, serif;
    font-weight: bold;
}

.header-logo-img {
    width: 150px;
    height: 75px;
}

/* F O O T E R */
.footer {
    height: 30svh;
    background-position: center;
    background-size: cover;
}

.footer-wrapper {
    display: flex;
    gap: 8%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: hsla(225, 70%, 24%, 0.95)
}

.footer,
.footer-nav-links,
.media-links,
.media-links a,
.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-links,
.footer-nav-links {
    flex-direction: column;
}

.media-links {
    gap: 8px;
    align-items: start;
}

.media-links div {
    display: flex;
    gap: 5px;
}

.media-links p {
    margin-left: 10px;
    color: white;
}

.media-links svg {
    filter: invert(100%) sepia(1%) saturate(2155%) hue-rotate(28deg) brightness(116%) contrast(100%);
}

.media-links a:hover,
.footer-nav-links a:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.footer-logo-img {
    width: 225px;
    height: 112px;
}

.footer-nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav-links a {
    color: white;
    font-family: Outfit, serif;
    font-size: 16px;
}

/* B A N N E R - P R I N C I P A L */
.apresentacao-geral,
.about-us-banner {
    background-position: center;
    background-size: cover;
}

.apresentacao-geral,
.main-banner {
    height: 93svh;
}

.main-banner-img {
    max-height: 100%;
}

.texto-apresentacao hr {
    border: 1px solid white;
}

.texto-apresentacao {
    max-width: 50%;
}

.apresentacao,
.about-us,
.texto-banner-cases {
    height: 93svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(225, 70%, 24%, 0.5);
}

.apresentacao {
    display: flex;
    flex-direction: row;
    max-width: 100svw;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    gap: 50px;
    background-color: hsla(225, 70%, 24%, 0.5);
}

.apresentacao hr {
    width: 100%;
    color: white;
    margin-block: 15px;
}

.apresentacao h1,
.apresentacao h3 {
    text-shadow: 2px 2px 2px hsla(0, 0%, 30%, 0.91);
    font-weight: bold;
}

.apresentacao h1 {
    font-size: 50px;
}

.apresentacao h3 {
    font-size: 30px;
}

.cadastro_contato {
    background-color: hsla(225, 70%, 24%, 1);
    border-radius: 5px;
    width: 100svw;
    padding: 20px;
}

.form_cadastro_field {
    margin-top: 10px;
    font-family: Outfit, serif;
}

.nossos-cases a {
    color: white;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.apresentacao,
.texto-banner-cases {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

/* S E R V I Ç O S */
.servicos {
    padding: 100px 0 0 0;
}

.servicos h1 {
    font-size: 50px;
    color: black;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.container-card-servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 5vw 5vw 0 5vw;
    object-fit: contain;
}

.card-servico {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    background-color: rgba(255, 255, 255, .9);

    &:nth-child(2n-1) {
        background-color: hsla(225, 70%, 24%, .95) !important;
        border-color: var(--dark-blue) !important;
        color: #fff !important;

        &:nth-child(2n-1) p,
        h3 {
            color: #fff !important;
        }

        &:nth-child(2n-1) .button-link:hover {
            background-color: white;
            color: #122766;
            transition: 0.5s;
        }
    }
}

.card-servico-background {
    position: absolute;
    overflow: hidden;
    max-width: 100vw;
    max-height: 1000px;
    margin: 1% 0;
    z-index: -1;
    filter: blur(5px);
}

.card-servico-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    width: 70vw;
    padding: 30px 0;
    margin: 0 auto;
}

.servico p {
    line-height: 1;
    font-size: 18px;
}

.servico ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
}

.servico h3 {
    font-size: 28px;
    color: black;
    text-align: start;
}

.servico {
    max-width: 50%;
    padding: 30px;
}

.card-img {
    max-width: 100%;
    border-radius: 20px;
    /* box-shadow: 0 2rem 3rem rgba(0,0,0,.175); */
}

/* S O B R E - N Ó S */
.about-us-banner {
    width: 100%;
    height: 93svh;
}

.sobre-nos {
    display: grid;
    justify-items: center;
}

.container-sobre-nos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 100px 20px;
}

.texto-sobre-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.sobre-nos img {
    max-width: 40%;
    border-radius: 50px;
}

.sobre-nos hr {
    background-color: var(--dark-blue);
    height: 3px;
    width: 100%;
    margin: 20px 0px 30px 0px;
}

.sobre-nos h1 {
    font-size: 50px;
    color: var(--dark-blue);
    font-weight: bold;
}

.sobre-nos h1,
p {
    text-align: start;
}

.sobre-nos p {
    line-height: 2.2;
    font-size: 20px;
}

/* A L G U N S C L I E N T E S */
.alguns-clientes {
    background-color: var(--dark-blue);
    padding: 30px 0;
}

.alguns-clientes img {
    max-width: 80vw;
}

.alguns-clientes h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}


/* C A S E S */
.cases {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px 50px 50px;
}

.container-case {
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding-top: 70px;
    gap: 30px;
}

.container-case h4 {
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.banner-cases {
    height: 93svh;
}

.banner-cases h1,
.banner-cases h3 {
    text-shadow: 2px 2px 2px hsla(0, 0%, 30%, 0.91);
}

.banner-cases h1 {
    font-size: 50px;
    text-align: center;
}

.banner-cases hr {
    border: 1px solid white;
}

.banner-cases h3 {
    font-size: 30px;
}

.cases-banner-img {
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
}

.titulo-cases {
    color: black;
    font-size: 60px;
    text-align: center;
}

.headline-case {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.headline-case img {
    max-width: 350px;
    max-height: 350px;
}

.headline-case h3 {
    color: black;
    font-size: 50px;
}

.depoimentos-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.depoimento span {
    font-style: italic;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
}

.depoimentos hr {
    margin-top: 30px;
    border: 1px solid black;
}

.texto-apresentacao-cases {
    width: 85%;
    text-align: center;
}

button {
    background-color: transparent;
    border: none;
    filter: brightness(0) saturate(100%)
}

.form_cadastro_contato h1 {
    margin: 5000;
}

@media (min-width: 1400px) {
    .card-servico p {
        line-height: 1;
        font-size: 18px;
    }

    /* .container-card-servicos {
        display: grid;
        justify-items: center;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        padding: 5vw;
    }
    .card-servico {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        width: 45vw;
    } */
}

@media (min-width: 1001px) {
    .menu-btn {
        display: none;
    }
}

@media (max-width: 1000px) {

    .header-links {
        position: absolute;
        left: 0;
        top: 7svh;
        display: none;
        width: 100%;
        height: 93svh;
        background-color: hsla(188.57, 18.92%, 92.75%, 0.8);
    }

    .header-links ul {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }

    .card-servico-content {
        align-items: start;
        width: 70vw;
        margin: 0 auto;
    }

    .servico {
        max-width: 100%;
    }

    .container-sobre-nos {
        flex-direction: column;
    }

    .texto-sobre-nos {
        width: 70%;
    }
}

@media (max-width: 900px) {
    .apresentacao h1 {
        font-size: 32px;
    }

    .apresentacao h3 {
        font-size: 22px;
    }
}

@media (max-width: 720px) {
    .headline-case img {
        max-width: 200px;
        max-height: 200px;
    }

    .headline-case h3 {
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    .apresentacao hr {
        width: 100%;
        color: white;
        margin-block: 15px;
    }

    .apresentacao h1,
    .apresentacao h3 {
        text-shadow: 2px 2px 2px hsla(0, 0%, 30%, 0.91);
        font-weight: bold;
    }

    .apresentacao h1 {
        font-size: 25px;
    }

    .apresentacao h3 {
        font-size: 20px;
    }

    .footer-logo-img {
        display: none;
    }

    .footer-nav-links a,
    .media-links p {
        font-size: 15px;
    }

    .texto-sobre-nos {
        width: 80%;
    }

    .sobre-nos h1 {
        font-size: 40px;
    }

    .headline-case {
        display: flex;
        flex-direction: column;
    }

    .container-case h4 {
        font-size: 20px;
    }
}

@media (max-width: 450px) and (max-height: 700px) {
    .apresentacao h1 {
        font-size: 22px;
    }

    .apresentacao h3 {
        font-size: 18px;
    }
}

@media (min-width: 650px) and (min-height: 850px) {
    .apresentacao h1 {
        font-size: 50px;
    }

    .apresentacao h3 {
        font-size: 30px;
    }
}

@media (max-width: 380px) {
    .apresentacao h1 {
        font-size: 22px;
    }

    .apresentacao h3 {
        font-size: 18px;
    }
}

@media (max-width: 350px) {
    .apresentacao h1 {
        font-size: 20px;
    }

    .apresentacao h3 {
        font-size: 16px;
    }
}