@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root {
    --dark-blue: #122766;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-size: 1.2em;
    color: white;
    font-family: 'Outfit', sans-serif;
}
.main-page {
    text-align: center;
}

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7svh;
    padding: 0px 15vw;
}

ul {
    list-style-type: none;
}

a {
    color: var(--dark-blue);
    font-family: Roboto;
    font-weight: bold;
    text-decoration: none;

}
p, li {
    color: black;
}
/* H E A D E R */
.header-links ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}
.header-links a:hover {
    position: relative;
    top: -3px;
    transition: 0.5s;
}
.contato {
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #2f94a8;
}
.header-links .contato:hover {
    background-color: #122766;
    text-decoration: none;
    top: 0;
}
.header-logo-img {
    width: 100px;
    height: 50px;
}

/* F O O T E R */
.footer {
    height: 30svh;
    background-position: center;
    background-size: cover;
}
.footer-wrapper {
    display: flex;
    gap: 8%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: hsla(225, 70%, 24%, 0.8)
}
.footer, .footer-nav-links, .media-links, .media-links a, .footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.media-links, .footer-nav-links {
    flex-direction: column;
}
.media-links {
    gap: 8px;
    align-items: start;
}
.media-links div {
    display: flex;
    gap: 5px;
}
.media-links p {
    margin-left: 10px;
    color: white;
}
.media-links svg {
    filter: invert(100%) sepia(1%) saturate(2155%) hue-rotate(28deg) brightness(116%) contrast(100%);
}
.media-links a:hover, .footer-nav-links a:hover {
    opacity: 0.6;
    transition: 0.3s;
}
.footer-logo-img {
    width: 225px;
    height: 112px;
}
.footer-nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-nav-links a{
    color: white;
    font-family: Outfit;
    font-size: 16px;
}
/* B A N N E R - P R I N C I P A L */
.apresentacao-geral, .about-us-banner {
    background-position: center;
    background-size: cover;
}
.apresentacao-geral, .main-banner {
    height: 93svh;
}
.main-banner-img {
    max-height: 100%;
}
.texto-apresentacao hr {
    border: 1px solid white;
}
.texto-apresentacao {
    width: 40svw;
}
.apresentacao, .about-us, .texto-banner-cases {
    height: 93svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(360, 100%, 100%, 0.3);
}
.apresentacao hr {
    width: 100%;
    color: white;
    margin-block: 15px;
}
.apresentacao h1, .apresentacao h3{
    text-shadow: 2px 2px 2px hsla(0, 0%, 30%, 0.91);
    font-weight: bold;
}
.apresentacao h1 {
    font-size: 50px;
}
.apresentacao h3 {
    font-size: 30px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.apresentacao, .texto-banner-cases {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

/* S E R V I Ç O S */
.servicos {
    padding: 100px 0 50px 0;
}
.servicos h1 {
    font-size: 50px;
    color: black;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}
.container-card-servicos {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 50px;
}
.card-servico {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    width: 45vw;
}
.card-servico-content {
    width: 100%;
    padding: 30px;
}
.card-servico p {
    line-height: 1.5;
    font-size: 18px;
}
.card-servico ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-servico h3 {
    font-size: 28px;
    color: black;
    text-align: start;
}
.card-img {
    height: 550px;
    width: 100%;
    border-radius: 50px;
}

/* S O B R E - N Ó S */
.about-us-banner {
    width: 100%;
    height: 93svh;
}
.sobre-nos {
    display: grid;
    justify-items: center;
}
.container-sobre-nos {
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
    padding: 100px;
}
.texto-sobre-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.sobre-nos img {
    width: 600px;
    height: 100%;
    border-radius: 50px;
}
.sobre-nos hr {
    background-color: var(--dark-blue);
    height: 3px;
    width: 100%;
    margin: 20px 0px 30px 0px;
}
.sobre-nos h1 {
    font-size: 50px;
    color: var(--dark-blue);
    font-weight: bold;
}
.sobre-nos h1, p {
    text-align: start;
}
.sobre-nos p {
    line-height: 2.2;
    font-size: 20px;
}

/* C A S E S */
.cases {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px 50px 50px;
}
.container-case {
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding-top: 70px;
    gap: 30px;
}
.container-case h4{
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}
.banner-cases {
    height: 93svh;
}
.banner-cases h1, .banner-cases h3{
    text-shadow: 2px 2px 2px hsla(0, 0%, 30%, 0.91);
}
.banner-cases h1 {
    font-size: 50px;
    text-align: center;
}
.banner-cases hr {
    border: 1px solid white;
}
.banner-cases h3 {
    font-size: 30px;
}
.cases-banner-img {
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
}
.titulo-cases {
    color: black;
    font-size: 60px;
    text-align: center;
}
.headline-case {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}
.headline-case img{
    max-width: 350px;
    max-height: 350px;
}
.headline-case h3 {
    color: black;
    font-size: 50px;
}
.depoimentos-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.depoimento span {
        font-style: italic;
        color: black;
        font-weight: bold;
        margin-bottom: 5px;
}
.depoimentos hr {
    margin-top: 30px;
    border: 1px solid black;
}
